In [8]:
# Assignment 11
"""
It happens all the time: someone gives you data containing malformed strings, Python,
lists and missing data. How do you tidy it up so you can get on with the analysis?
Take this monstrosity as the DataFrame to use in the following puzzles:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm',
'Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})
"""
import pandas as pd
import numpy as np


df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 'Budapest_PaRis', 'Brussels_londOn'],
                  'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
                  'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                  'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )','12. Air France', '"Swiss Air"']
                  })
print(df)

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

In [9]:
# Assignment 11.1
"""
Some values in the the FlightNumber column are missing. These numbers are meant
to increase by 10 with each row so 10055 and 10075 need to be put in place. Fill in
these missing numbers and make the column an integer column (instead of a float
column).
"""
df.loc[1,'FlightNumber']=10055 # changing value at location [1,'FlightNumber']=10055
df.loc[3,'FlightNumber']=10075 # changing value at location [3,'FlightNumber']=10055
df['FlightNumber']=df['FlightNumber'].astype(int) # changing column ['FlightNumber'] as type int
print(df) # printing the data frame

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris         10045      [23, 47]               KLM(!)
1      MAdrid_miLAN         10055            []    <Air France> (12)
2  londON_StockhOlm         10065  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis         10075          [13]       12. Air France
4   Brussels_londOn         10085      [67, 32]          "Swiss Air"

In [10]:
# Assignment 11.2
"""
The From_To column would be better as two separate columns! Split each string on
the underscore delimiter _ to give a new temporary DataFrame with the correct values.
Assign the correct column names to this temporary DataFrame.
"""
split_df=df.loc[:,'From_To'].str.split('_') #splitting the From_To column of dataframe seprated by '_'

# creating a temp_df from the split data in split_df and assigning col name 'From','To'
temp_df=pd.DataFrame({  
    'From':[split_df[i][0] for i in range(5)], # From col of temp_df
    'To':[split_df[i][1] for i in range(5)]  #To col of temp_df
})


print(temp_df) #printing the temp_df

       From         To
0    LoNDon      paris
1    MAdrid      miLAN
2    londON  StockhOlm
3  Budapest      PaRis
4  Brussels     londOn

In [11]:
# Assignment 11.3
"""
Notice how the capitalisation of the city names is all mixed up in this temporary
DataFrame. Standardise the strings so that only the first letter is uppercase (e.g.
"londON" should become "London".)
"""
temp_df['From']=temp_df['From'].str.title() # converting col ['From'] of temp_df to title cased
temp_df['To']=temp_df['To'].str.title()  # converting col ['To'] of temp_df to title cased

print(temp_df) # printing the temp_df

       From         To
0    London      Paris
1    Madrid      Milan
2    London  Stockholm
3  Budapest      Paris
4  Brussels     London

In [12]:
# Assignment 11.4
"""
Delete the From_To column from df and attach the temporary DataFrame from the
previous questions.
"""
del df['From_To'] # delete the From_To column of the df

df['From']=temp_df['From'] # inserting the From col in df with the From col in temp_df
df['To']=temp_df['To']  #  inserting the To col in df with the To col in temp_df

print(df) # printing the df

   FlightNumber  RecentDelays              Airline      From         To
0         10045      [23, 47]               KLM(!)    London      Paris
1         10055            []    <Air France> (12)    Madrid      Milan
2         10065  [24, 43, 87]  (British Airways. )    London  Stockholm
3         10075          [13]       12. Air France  Budapest      Paris
4         10085      [67, 32]          "Swiss Air"  Brussels     London

In [14]:
# Assignment 11.5
"""
In the RecentDelays column, the values have been entered into the DataFrame as a
list. We would like each first value in its own column, each second value in its own
column, and so on. If there isn't an Nth value, the value should be NaN.
"""
delays=pd.DataFrame({   # creating a new df delays initializing with NaN
    'delays_1':[np.nan for i in range(5)],
    'delays_2':[np.nan for i in range(5)],
    'delays_3':[np.nan for i in range(5)]
})

for i in range(5): #loop executed 5 times
    for j in range(len(df['RecentDelays'][i])): # loop executed times equal to length of df['RecentDelays'][i]
        delays["delays_%d"%(j+1)][i] = df['RecentDelays'][i][j]  # values of df['RecentDelays'][i][j] is assigned to delay_i col of delay df

del df['RecentDelays'] # deleting RecentDelays col of df

df['delays_1']=delays['delays_1'] #assingning col delays_1 of delays dataframe to df dataframe
df['delays_2']=delays['delays_2'] #assingning col delays_2 of delays dataframe to df dataframe
df['delays_3']=delays['delays_3'] #assingning col delays_3 of delays dataframe to df dataframe

df #printing the dataframe df

,FlightNumber,Airline,From,To,delays_1,delays_2,delays_3
0,10045,KLM(!),London,Paris,23.0,47.0,NaN
1,10055,<Air France> (12),Madrid,Milan,NaN,NaN,NaN
2,10065,(British Airways. ),London,Stockholm,24.0,43.0,87.0
3,10075,12. Air France,Budapest,Paris,13.0,NaN,NaN
4,10085,"""Swiss Air""",Brussels,London,67.0,32.0,NaN